@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
}

.headding {
  font-family: "Raleway Dots", cursive;
}

.slick-next {
  position: absolute !important;
  top: 20% !important;
  right: 15% !important;
  color: red !important;
  background-color: black !important;
}

.slick-prev {
  position: absolute !important;
  top: 20% !important;
  left: 80% !important;
  color: red !important;
  background-color: black !important;
  z-index: 5000 !important;
}
